body

{
    background-image: radial-gradient(circle at 20% 20%, #99CCCC, #7171B7);
}
.wrap
{
  margin:30px auto 30px auto;
  width:100%;
  display:flex;
  align-items:space-around;
  max-width:1200px;
font-family: 'Nunito', sans-serif;
}
.tile{
border-radius: 9px;
  width:180px;
  height:59px;
  margin:10px;
  background-color:#ffffff;
  display:inline-block;
  background-size:cover;
  position:relative;
  cursor:pointer;
  transition: all 0.3s ease-out;
  box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.3);
  overflow:hidden;
  color:#5d7299
}

.tail {
    min-width: 200px;
    margin: 20px auto 20px auto;
    padding: 0;
    text-align: center;
    color: #ffffff;
font-family: 'Nunito', sans-serif;
}

.tile:hover
{
    transform:scale(1.035);
    box-shadow:0px 3px 12px 
    rgba(0,0,0,0.2)
}


.tile h2
{
  font-size: 120%;
  margin:17px;
  text-align: center;
  letter-spacing: 0.01em
        
}

h1
{
  color: #ffffff;
  font-size: 270%;
  margin:40px 2px 40px 2px;
  text-align: center;
font-family: 'Nunito', sans-serif;

}


.divider {
  display: block;
  height: 4px;
  background-color: #ffffff;
  box-shadow: 0px 0px 1px 0px rgba(0,0,0,0.3);
  border-radius: 2px

}

@media (max-width: 1200px) {
  .wrap {
   flex-direction: column;
    width:200px;
  }
}
